.column {
    background-color: aquamarine;
    margin: 10px;
    text-align: center;
}

.colMiddle {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.navbar-item {
    font-size: x-large;
    font-weight: bolder;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    background-color: white;
}