
body {
    background-image: url(https://i.postimg.cc/66nb2WZM/patrick-tomasso-GXXYk-Swnd-P4-unsplash.jpg);
}

.column {
    background-color: aquamarine;
    margin: 10px;
    text-align: center;
}

.colMiddle {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.navbar-item {
    font-size: large;
    font-weight: bolder;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    background-color: white;
}

.rows{
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f1f1f1;
    padding: 20px 10px;
    position: relative;
    top: 0;
    width: 100%;
    transition: 0.2s;
}

      
.myDIV:hover + .overlay {
    opacity: 2.0;
    color: white;
  }

.overlay {
    position: absolute;
    text-align: center;
    left: 12%;
    top: 25%;
    opacity: 0;
    transition: 0.1s;
    background-color: transparent;
    text-decoration: underline;
    font-size: 25px;
    text-shadow: 4px 4px 7px white;
    animation: yeezymove 5s infinite; 
  }

  @keyframes yeezymove {
    from {color: rgb(142, 231, 219);}
    to {color: white;}
}


.footer {
    opacity: 0.8;
    text-decoration-style: wavy;
  }

.first {
    background: rgba(0, 151, 19, 0.1);

}

.button {
    display: block;
    margin: auto;
    width: 300px;
    padding: 31px 5px;
    border-radius: 5px;
    background-color: orange;
    text-align: center;
    font-family: Helvetica;
    font-size: 32px;
    color: MintCream;
    transition: 0.1s;
    transition-property: background-color;
    animation: mymove 5s infinite; 
}

